<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <ProstheticIconsCategoryLabel>Иконки протезов</ProstheticIconsCategoryLabel>
  <patchIconsLabel>Изменить текстуру для отражения протеза</patchIconsLabel>
  <colorIconsLabel>Цветная текстура, отражающая технический уровень протеза</colorIconsLabel>

</LanguageData>